common: &default_settings
  license_key: {{ newrelic_license_key }}
  app_name: "Generic Java Service"

  labels:
    environment: {{ env_effective }}
    institution: {{ inst_tag }}

production:
  <<: *default_settings
