export CATALINA_OPTS="$CATALINA_OPTS \
-javaagent:/opt/newrelic/newrelic.jar \
-Dnewrelic.config.app_name='{{ application_name }}' \
-Dnewrelic.config.labels='environment:{{ env_tag }};institution:{{ inst_tag }};service:servicetag;team:teamtag'"
